.modal#prompt-dialog
  .modal-dialog
    .modal-content
      form
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title
            span.fa.fa-question-circle
            |  
            span#prompt-title
        .modal-body
          p#prompt-body
          .form-group
            .col-xs-12
              input.form-control(type='text', name='name', autofocus)
          .row
            .col-xs-12
        .modal-footer
          .row
            .col-xs-6
              button.btn.btn-default.btn-block(type='button', data-dismiss='modal') Cancel
            .col-xs-6
              button.btn.btn-primary.btn-block(type='button', data-dismiss='modal', data-prompt-confirm) OK
