.modal.fade#raw-editor
  .modal-dialog
    .modal-content
      form
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title
            span.fa.fa-database
            |  Raw Artist Data Editor
        .modal-body
          p This editor allows you to edit raw artist data. It is designed only to be used as a diagnostics tool. Please use with care.
          .form-horizontal
            .form-group
              label.col-xs-2(for='raw-artist-list') Artists
              .col-xs-10
                select.form-control(data-select-raw='artist')
            .form-group
              .col-xs-12
                textarea.form-control(data-edit-raw='artist' rows='10')
        .modal-footer
          .row
            .col-xs-4
              button.btn.btn-default.btn-block(type='button', data-dismiss='modal') Close
            .col-xs-8
              button.btn.btn-warning.btn-block(type='button', data-system-action='saveArtistRaw')
                span.fa.fa-floppy-o
                |  Save
