$background: #333;
$foreground: #AAA;

@import "bootstrap.scss";
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans';
  background-color: $background;
  text-color: $foreground;
  overflow: hidden;
}

.line {
  display: block;
}

#main {
  div[class^="col-"], div[class*=" col-"] {
    &:nth-child(n+2) {
      border-left: 1px #111 solid;
    }
  }

  .header-container {
    height: 1.45em;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px #111 solid;

    div {
      height: 100%;
    }

    .artists {
      background: #080808;
      color: #888;
    }

    .lottery {
      background: #002;
      color: #66f;
    }

    .standby {
      background: #200;
      color: #f66;
    }

    .seated {
      background: #020;
      color: #6f6;
    }
  }

  .header {
    text-align: center;
    font-weight: bold;
    width: 25%;
    display: inline-block;

    .fa {
      margin-right: 5px;
      margin-left: -10px;
    }
  }

  .content {
    .artists {
      color: #aaa;
      background: #282828;
    }

    .lottery {
      color: #88f;
      background: #181840;
    }

    .standby {
      color: #f88;
      background: #401818;
    }

    .seated {
      color: #8f8;
      background: #184018;
    }

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        font-weight: bolder;
        box-shadow:0px 0px 0px 1.5em rgba(1,1,1,0.2) inset;
      }
    }
  }

}
