@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";

$background: #333;
$foreground: #AAA;

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
}

body {
  background-color: $background;
  text-color: $foreground;
}
