.screen.limited-width#about
  .content
    h1.text-center Welcome to Art Track Plus!
    hr
    .text-justify
      include ../license.jade
    hr
    .row
      .col-xs-3
      .col-xs-6
        a.btn.btn-primary.btn-block(data-screen='main')#main Thank you!
