.screen.limited-width#intro
  .content
    h1.text-center Welcome to Art Track Plus!
    hr
    .text-justify
      include ../license.jade
    hr
    .col-xs-6
      a.btn.btn-primary.btn-block(data-screen='main')#agree I agree, let's go!
    .col-xs-6
      a.btn.btn-default.btn-block(href='https://google.com') I do not agree.
