.screen.limited-width#main
  .col-xs-3
    .content
      .artists.height-full
        div test
  .col-xs-3
    .content
      .lottery.height-full
        div test
  .col-xs-3
    .content
      .standby.height-full
        div test
  .col-xs-3
    .content
      .seated.height-full
        div test
