.screen#second
  .header-container
    .header.standby
      .fa.fa-clock-o
      | Standby
    .header.seated
      .fa.fa-sign-in
      | Seated
  div(style='height:calc(100% - 30px)')
    .col-xs-3
      .content
        .lottery.height-full.lottery-sorted-names
    .col-xs-3
      .content
        .standby.height-full.standby-sorted-names
    .col-xs-3
      .content
        .seated.height-full.seated-sorted-names
