.columns-panel {
  .col-artists {
    background: #080808;
    color: #888;
  }

  .col-lottery {
    background: #002;
    color: #66f;
  }

  .col-standby {
    background: #200;
    color: #f66;
  }

  .col-seated {
    background: #020;
    color: #6f6;
  }

  .col-checked-out {
    background: #080808;
    color: #888;
  }
}