.modal.fade#artist-detail
  .modal-dialog
    .modal-content
      form(data-plus-as-tab='true')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title
            span.fa.fa-user
            |  
            span#artist-detail-mode
            small.artist-edit-only
              | (id: 
              span#artist-id
              | )
        .modal-body.artist-edit-only
          .row
            .col-xs-4
              button.btn.btn-signout.btn-block(tabindex='-1', type='button', data-dismiss='modal', data-signout="artist", data-skip-enter)
                span.fa.fa-sign-out
                |  Sign Out
            .col-xs-4
              button.btn.btn-standby.btn-block(tabindex='-1', type='button', data-dismiss='modal', data-standby="artist", data-skip-enter)
                span.fa.fa-clock-o
                |  Standby
            .col-xs-4
              button.btn.btn-seated.btn-block(tabindex='-1', type='button', data-dismiss='modal', data-signin="artist", data-skip-enter)
                span.fa.fa-sign-in
                |  Sign In
        .modal-body
          .form-horizontal
            .form-group
              label.col-xs-2(for='artist-name') Name
              .col-xs-10
                input(type='text', name='name', autofocus)#artist-name.form-control
            .form-group
              label.col-xs-2(for='artist-badge') Badge
              .col-xs-2
                input(type='text', name='badgeNumber')#artist-badge.form-control
              label.col-xs-2.text-right(for='artist-table') Table
              .col-xs-2
                input(type='text', name='tableNumber')#artist-table.form-control
              label.col-xs-2.text-right(for='artist-room') Room
              .col-xs-2
                input(type='text', name='roomNumber')#artist-room.form-control
            .form-group
              label.col-xs-2(for='artist-phone') Phone
              .col-xs-10
                input(type='text', name='phone')#artist-phone.form-control
            .form-group
              label.col-xs-2(for='artist-remarks') Remarks
              .col-xs-10
                input(type='text', name='remarks')#artist-remarks.form-control
            .form-group
              .col-xs-4
                .checkbox
                  label
                    input#artist-lottery-eligible(tabindex='-1', type='checkbox')
                    | Lottery Eligible
                .checkbox
                  label
                    input#artist-lottery-guaranteed(tabindex='-1', type='checkbox')
                    | Lottery Guaranteed
              .col-xs-8(style='margin-top:0.25em')
                .row
                  .col-xs-5.text-right Last Seated
                  .col-xs-7.highlight#artist-seated-last
                .row
                  .col-xs-5.text-right Days Seated
                  .col-xs-7.highlight#artist-seated-days
                .row
                  .col-xs-5.text-right Days on Standby
                  .col-xs-7.highlight#artist-standby-days
        .modal-footer
          .row
            .col-xs-4.artist-edit-only
              button.btn.btn-link.btn-block(tabindex='-1', type='button', data-dismiss='modal', data-delete="artist" data-skip-enter)
                span.fa.fa-times-circle
                |  Delete
            .col-xs-4
              button.btn.btn-default.btn-block(tabindex='-1', type='button', data-dismiss='modal' data-skip-enter)
                span.fa.fa-chevron-left
                |  Cancel
            .col-xs-4.artist-add-only
              button.btn.btn-primary.btn-block(type='button', data-confirm-enter)
                span.fa.fa-floppy-o
                |  Save & Clear
            .col-xs-4
              button.btn.btn-primary.btn-block(type='button', data-dismiss='modal', data-save="artist", data-confirm-enter)
                span.fa.fa-floppy-o
                |  Save
