nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(data-screen='main')= AppName
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | System
            span.caret
          ul.dropdown-menu
            li
              a(data-system-action='databaseBackup', title='Backup lists to a JSON file.')
                span.fa.fa-database
                |  Backup to File
            li
              a(data-modal='restoreDatabase' title='Restore lists from a JSON backup.')
                span.fa.fa-database
                |  Restore Backup
            li.divider
            li
              a.text-warning(data-modal='editArtistRaw' title='Surgically modify artist data.')
                span.fa.fa-database
                |  Raw Data Editor
            li
              a.text-danger(data-modal='resetDatabase' title='Wipe all lists.')
                span.fa.fa-database
                |  Wipe Everything
            li
              a.text-danger(data-modal='seedDatabase' title='For testing purposes. Generate random artist data.')
                span.fa.fa-database
                |  Generate Test Data
            li.divider
            li
              a(data-screen='about' title='Read more about this application.')
                span.fa.fa-question-circle
                |  About
                = AppName
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | Reports
            span.caret
          ul.dropdown-menu
            li
              a(href='#' data-system-action='exportCsv' title='Export artist lists to a CSV file.')
                span.fa.fa-file-text-o
                |  Export to CSV
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | Find
            span.caret
          ul.dropdown-menu
            li
              a(data-system-action='findArtistByTable' title='Find an artist with a specific table number.')
                span.fa.fa-search
                |  Artist by Table Number
              a(data-system-action='findArtistByBadge' title='Find an artist with a specific badge number.')
                span.fa.fa-search
                |  Artist by Badge Number
              a(data-system-action='findCheckedOutArtists' title='Find checked out artists')
                span.fa.fa-sign-out
                |  Checked Out Artists
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | Actions
            span.caret
          ul.dropdown-menu
            li
              a(data-system-action='newArtistRapidEntry' title='Quickly add new artists to the list.')
                span.fa.fa-plus
                |  Rapid New Aritst Entry
              a(data-modal='bulkArtistRoom' title='Quickly enter room numbers for artists.')
                span.fa.fa-th-list
                |  Rapid Room Entry
            li.divider
            li
              a.text-lottery(data-modal='runLottery' title='Run the lottery.')
                span.fa.fa-play-circle-o
                |  Run Lottery
            li
              a.text-warning(data-modal='batchSignOut' title='Sign everyone out.')
                span.fa.fa-sign-out
                |  Close Out Day
        li
          a(data-modal='addArtist' title='Add a new artist.')
            span.fa.fa-plus
            |  New Artist
        li
          a(href='#second', target='_blank' title='Open a new read-only view for use on a second screen.')
            span.fa.fa-desktop
            |  View 2
