.screen#main
  .header-container
    .header.artists
      .fa.fa-user
      | All Artists (
      span.count-artists
      | )
    .header.lottery
      .fa.fa-check
      | Lottery (
      span.count-lottery
      | )
    .header.standby
      .fa.fa-clock-o
      | Standby (
      span.count-standby
      | )
    .header.seated
      .fa.fa-sign-in
      | Seated (
      span.count-seated
      | )
  div(style='height:calc(100% - 30px)')
    .col-xs-3
      .content
        .artists.height-full.artist-names
          .column-loading
            .fa.fa-refresh.fa-spin
    .col-xs-3
      .content
        .lottery.height-full.lottery-names
          .column-loading
            .fa.fa-refresh.fa-spin
    .col-xs-3
      .content
        .standby.height-full.standby-names
          .column-loading
            .fa.fa-refresh.fa-spin
    .col-xs-3
      .content
        .seated.height-full.seated-names
          .column-loading
            .fa.fa-refresh.fa-spin
