.screen.hide-nav#second
  .header-container
    .header.lottery
      .fa.fa-check
      | Lottery
    .header.standby
      .fa.fa-clock-o
      | Standby (
      span.count-standby
      | )
    .header.seated
      .fa.fa-sign-in
      | Seated (
      span.count-seated
      | )
    .header.checkedout
      .fa.fa-sign-out
      | Checked Out (
      span.count-checkedout
      | )
  div(style='height:calc(100% - 1.5em)')
    .col-xs-3
      .content
        .lottery.height-full.lottery-sorted-names
    .col-xs-3
      .content
        .standby.height-full.standby-sorted-names
    .col-xs-3
      .content
        .seated.height-full.seated-sorted-names
    .col-xs-3
      .content
        .checkedout.height-full.checkedout-sorted-names
